table{
    width: 90%;
    background-color: background;
    border: solid #7a86eb 5px;
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
    margin-left: 950px;
    margin: 10px;
    
}
*{
    margin: 0 auto;
}
th{
    background-color: #7a86eb;
    color: white;
    text-align: left;
    padding: 5px 10px;
}
td{
    border: solid #7a86eb;
    padding: 5px 10px;
}

td a{
     text-decoration: none;
     color: black;
}
td a:hover {
    color: #7a86eb;
}
form{
    align-content: space-between;
    padding: 10px;
     width: 90%;
    background-color: background;
    margin: 10px;
    font-family: monospace;
    font-size: 20px;
    display: flex;
    align-items: center;
      font-weight:  bold;
   
    
}
form input{
      width: 90%;
    padding: 10px;
    margin: 10px;
    border: solid #7a86eb 5px;
    align-items: end;
    display: flex;
}
div input{
   font-family: monospace;
   font-size: 18px;
   color: #7a86eb;
   background: none;
   border: solid #7a86eb 5px;
   margin-top: 30px;
   margin-left: 70px;

}